<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Printer Configuration</title>
    <link rel="stylesheet" type="text/css" href="{{ style.skin_css }}"  >
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" > </script>


</head>
<body>

    <h1>Bloom Administration</h1>
    <ul><a href=dindex>( graph )</a> <a href= />( B )</a><ul><hr>


    <h2> Templates Available & Instantiation </h2>
    <ul>
        <li><a href="/object_templates_summary">all object templates available for instantiation (there are currently ~100)</a></li>
    </ul>

    <br>
    <h2>User Session Configuration </h2>
    <i><small>these map to the user email, and are saved for latter sessions</small></i>
    <table>
        <!-- Display select dropdowns for specific keys and their current value from user data -->
        {% for key in ['print_lab', 'printer_name', 'label_zpl_style', 'style_css'] %}
        <tr>
            <td>{{ key }}</td>
            <td>
                Current: {{ user_data.get(key, 'Not set') }} 
                <select name="{{ key }}" onchange="updatePreferenceAndReload('{{ key }}', this.value)">
                    {% for option in printer_info[key] %}
                        <option value="{{ option }}" {% if user_data.get(key) == option %}selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}

        <!-- Display other user data that are not in the specified keys -->
        {% for key, value in user_data.items() %}
            {% if key not in ['print_lab', 'printer_name', 'label_zpl_style', 'style_css' ] %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</ul></ul>
    <script>

        
    function updatePreferenceAndReload(key, value) {
        console.log('Updating', key, 'to', value);
        $.ajax({
            url: '/update_preference',
            type: 'POST',
            contentType: 'application/json', // Specify the content type
            data: JSON.stringify({ key: key, value: value }), // Convert the data to a JSON string
            success: function(response) {
                console.log('Update successful:', response);
                window.location.reload();
            },
            error: function(xhr, status, error) {
                console.error('Update failed:', status, error);
            }
        });
        
    }
    </script>
</body>
