<!DOCTYPE html>
<html>
<head>
    <title>Assay Overview</title>
    <link rel="stylesheet" href="{{ style.skin_css }}">
    <link rel="stylesheet" href="static/style.css">
    <style>
        .accordion {
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }
     
        .panel {
            padding: 0 18px;
            display: none;
            overflow: hidden;
        }
        b {
            color: gold;        
        }
    </style>
</head>
<body>
    <a href=/> Bloom </a> <small> <a href=dindex>( graph view )</a></small> <a href=https://github.com/Daylily-Informatics/bloom><font style="font-size: 10px;">github</font></a>
<h1>ASSAYS</h1>
    {% for assay in workflow_instances %}
    <button class="accordion">{{ assay.euid }} - {{ assay.json_addl['properties'].get('name',assay.euid) }} 
        <a href=/euid_details?euid={{ assay.euid }}>object</a> 
        <hr>
        <ul>
         /// QUEUES ( <b>{{ ay_stats.get(assay.euid,{}).get('avail','na') }}</b> : avail )  ( <b>{{ ay_stats.get(assay.euid,{}).get('inprog','na') }}</b> : underway )       ( <b>{{ ay_stats.get(assay.euid,{}).get('complete','na') }}</b> : completed )   ( <b>{{ ay_stats.get(assay.euid,{}).get('exception','na') }}</b> : exception )
        <br>        
        /// DESIRED OUTCOME CONVERSION %  ( <b>{{ ay_stats.get(assay.euid,{}).get('conv','na') }}</b> ) 
        <br>    
        /// COGS  ( <b>${{ ay_stats.get(assay.euid,{}).get('wsetp','na') }}</b> per workset ) ( <b>${{ ay_stats.get(assay.euid,{}).get('Instantaneous COGS','na') }}</b> this assay total ) 
        <br>
        /// WORKSET OCCUPANCY ( <b>{{ ay_stats.get(assay.euid,{}).get('workset_occupancy','%unused capacity') }}</b> ) </ul>
            </button>
    <div class="panel">
        <ul>
    Assay Queues<ul>
        {% for queue in assay.parent_of_lineages %}
        <button class="accordion">   
            <p> <a href=/euid_details?euid={{ queue.child_instance.euid }}>{{ queue.child_instance.euid }}</a> {{ queue.child_instance.json_addl.get('properties',{}).get('name','na') }} - Items: {{ queue.child_instance.items_count }} - More stats...</p>

        </button>
        <div class="panel">

            {% if queue.child_instance.btype == 'queue' %}
                <ul>Worksets
                    <ul>
                        {% if queue.child_instance.parent_of_lineages|length == 0 %}
                        no worksets in queue.
                        {% endif %}
                    {% for wset in queue.child_instance.parent_of_lineages %}
                        <p> <a href=/workflow_details?workflow_euid={{ wset.child_instance.euid }}>{{ wset.child_instance.euid }}</a> {{ wset.child_instance.json_addl.get('properties',{}).get('name','na') }} - Items: {{ wset.child_instance.items_count }} - More stats...</p>
                    
                {% endfor %}
                    </ul></ul>
                {% endif %}
        </div>
        {% endfor %}
    </ul>
    </div>
</ul>
    {% endfor %}

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>
