<!DOCTYPE html>
<html>
<head>
    {% set page_title = 'User Audit Log' %}
    <title>{{ page_title }}</title>
    
    {% set bloom_mod = 'lims' %}

    <link rel="stylesheet" type="text/css" href="{{ style.skin_css }}">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/action_buttons.js"></script>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            cursor: pointer;
            background-color: #f2f2f2;
        }
        .deleted {
            background-color: pink;
        }
        .added {
            background-color: aqua;
        }
    </style>
</head>
<body>
    {% include 'bloom_header.html' %}

    <h1>Audit Log for {{ username }}</h1>
    Filters:
    <input type="text" id="filterInput" onkeyup="filterTable()" placeholder="Filter out rows w/string" style="width: 200px;">
    <input type="text" id="includeFilterInput" onkeyup="includeFilterTable()" placeholder="Filter out rows w/out strings" style="width: 200px;">
    <table id="resultsTable">
        <thead>
            <tr>
                <th>EUID</th>
                <th>Changed By</th>
                <th>Operation Type</th>
                <th>Changed At</th>
                <th>Name</th>
                <th>Polymorphic Discriminator</th>
                <th>Super Type</th>
                <th>BType</th>
                <th>B Sub Type</th>
                <th>Status</th>
                <th>Old Value</th>
                <th>New Value</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
                <tr>
                    <td><a href="/euid_details?euid={{ row[0] }}" target="euid_deets">{{ row[0] }}</a></td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>
                        {% if row[10] and row[10].startswith('{') %}
                            <button onclick="toggleJSON('old-{{ loop.index }}')">Show JSON</button>
                            <div id="old-{{ loop.index }}" style="display:none; white-space: pre-wrap;">{{ highlight_json_changes(row[10], row[11])[0]|safe }}</div>
                        {% else %}
                            {{ row[10] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if row[11] and row[11].startswith('{') %}
                            <button onclick="toggleJSON('new-{{ loop.index }}')">Show JSON</button>
                            <div id="new-{{ loop.index }}" style="display:none; white-space: pre-wrap;">{{ highlight_json_changes(row[10], row[11])[1]|safe }}</div>
                        {% else %}
                            {{ row[11] }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="downloadTSV()">Download TSV</button>
    <script>
        function toggleJSON(id) {
            var element = document.getElementById(id);
            if (element.style.display === "none") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }

        function filterTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("filterInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("resultsTable");
            tr = table.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
        }

        function includeFilterTable() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("includeFilterInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("resultsTable");
            tr = table.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                var shouldDisplay = true;
                for (j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) === -1) {
                            shouldDisplay = false;
                            break;
                        }
                    }
                }
                if (shouldDisplay) {
                    tr[i].style.display = "";
                }
            }
        }

        function downloadTSV() {
            var table = document.getElementById("resultsTable");
            var rows = table.querySelectorAll("tr");
            var tsv = [];
            for (var i = 0; i < rows.length; i++) {
                var row = [],
                    cols = rows[i].querySelectorAll("td, th");
                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                tsv.push(row.join("\t"));
            }
            var tsvFile = new Blob([tsv.join("\n")], { type: "text/tsv" });
            var downloadLink = document.createElement("a");
            downloadLink.download = "audit_log.tsv";
            downloadLink.href = window.URL.createObjectURL(tsvFile);
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
        }
    </script>
</body>
</html>
