<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New File</title>
    <link rel="stylesheet" type="text/css" href="{{ style.skin_css }}">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/action_buttons.js"></script>
</head>
<body>

    <ul>
        <h1>File Tools</h1>
        <hr>
        <br>
    <ul>
    <h2>Create New File</h2>
    <ul>

        <form action="create_file" method="post" enctype="multipart/form-data">
        <input type="hidden" value="na" id="name" name="name" ><br><br>

        <label for="file_data">Upload File:</label>
        <input type="file" id="file_data" name="file_data"><br><br>
        <b> -- OR -- </b>
        <br><br>
        <label for="url">Or Provide URL:</label>
        <input type="url" id="url" name="url"><br><br>


        <hr>
        <label for="x_x_rcrf_patient_id">RCRF Patient ID:</label>
        <input type="text" id="x_x_rcrf_patient_id" name="x_x_rcrf_patient_id"><br><br>

        <label for="x_x_clinician_id">Clinician ID:</label>
        <input type="text" id="x_x_clinician_id" name="x_x_clinician_id"><br><br>

        <label for="x_health_event_id">Health Event:</label>
        <input type="text" id="x_health_event_id" name="x_health_event_id"><br><br>

        <label for="lab_code">Lab Code:</label>
        <input type="text" id="lab_code" name="lab_code"><br><br>

        <label for="x_relevant_datetime">File Relevant Datetime:</label>
        <input type="datetime-local" id="x_relevant_datetime" name="x_relevant_datetime"><br><br>

        <label for="comments">Comments:</label>
        <textarea id="comments" name="comments"></textarea><br><br>



        <button type="submit">Create File</button>
    </form>

    </ul>
    <hr><hr>
    
    <h2>Download File</h2>
    <ul>

    <form action="download_file" method="post" enctype="multipart/form-data">
        <label for="euid">File EUID: </label>
        <input type="text" id="euid" name="euid"> </input>
        <br><br>
        
        <label for="download_type">File Creation Mode:</label> 
        <select name=download_type><option value=dewey selected >dewey</option><option value=hybrid>hybrid</option><option value=orig>orig</option></select>
        <br><br>
    
        <label for="create_metadata_file">Generate Metadata yaml:</label>
        <select name=create_metadata_file><option selected value=yes>yes</option><option value=no>no</option></select>
        <br><br>
    
        <button type="submit">Download File</button>
    </form>


</ul>
<hr><hr>

<h2>Search Files</h2>
<ul>

    <form action="search_files" method="post" enctype="multipart/form-data">
        
        <input type="hidden" value="" id="euid" name="euid"> </input>

        <label for="is_greedy">Greedy Search: </label>
        <select name=is_greedy><option value=yes selected>yes</option><option value=no>no</option></select>

        <br>
        CRUDE ATM. Manually set key and key value to search, up to 3 pairs.
        <br>
        <label for="key_1">Key 1: </label>
        <input type="text" id="key_1" name="key_1"> </input>

        <label for="value_1">Value 1: </label>
        <input type="text" id="value_1" name="value_1"> </input>

        <br>

        <label for="key_2">Key 2: </label>
        <input type="text" id="key_2" name="key_2"> </input>

        <label for="value_2">Value 2: </label>
        <input type="text" id="value_2" name="value_2"> </input>

        <br>
        <label for="key_3">Key 3: </label>
        <input type="text" id="key_3" name="key_3"> </input>

        <label for="value_3">Value 3: </label>
        <input type="text" id="value_3" name="value_3"> </input>
        <br>
        <input type=submit value="Search Files">
    </form>

</ul></ul>
</body>
</html>
