<div class="accordion-content">
    <ul>
        <h3>Create A File Set</h3>
        <form action="/create_file_set" method="post">
            <label for="file_set_name">File Set Name:</label>
            <input type="text" id="file_set_name" name="file_set_name" required><br><br>
    
            <label for="file_set_description">File Set Description:</label>
            <input type="text" id="file_set_description" name="file_set_description" required><br><br>
    
            <label for="file_set_tag">File Set Tag:</label>
            <input type="text" id="file_set_tag" name="file_set_tag" required><br><br>
    
            <label for="comments">Comments:</label>
            <input type="text" id="comments" name="comments"><br><br>
    
            <label for="file_euids">File EUIDs :</label>
            <textarea id="file_euids" name="file_euids" required></textarea>
            <br><br>
            <button type="submit">Create File Set</button>
        </form>
    </ul>
</div>
