<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% set page_title = 'Dewey File Manager' %}
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ style.skin_css }}">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/action_buttons.js"></script>
    
    <style>
        .floating-buttonf {
            position: fixed;
            top: 20px;
            right: 20px;
            /* Add more styling as needed */
        }
        th {
            cursor: pointer;
        }
    </style>
    <script>
        function sortTable(n, tableId) {
            const table = document.getElementById(tableId);
            let rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir === "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
</head>
<body>
    {% include 'bloom_header.html' %}

    <h1>File Tools</h1>
    <hr>
    
    <button class="accordion" style="width: -webkit-fill-available;">Register File(s)</button>
    <div class="accordion-content">
        <ul>
        <form id="createFileForm" action="create_file" method="post" enctype="multipart/form-data">
            <input type="hidden" name="upload_group_key" value="{{ upload_group_key }}">
            <table>
                <tr><td>
            <input type="hidden" value="na" id="name" name="name">
            
            <h3>Specify Files</h3>
            <hr>
            <ul>
            <label for="file_data">A Local File:</label>
            <input type="file" id="file_data" name="file_data">
            <br><br>

            <label for="directory">A Directory Of Files <br>(RECURSIVE, max 1k files):</label>
            <input type="file" id="directory" name="directory" webkitdirectory directory multiple>
            <br><br>

            <label for="urls">Public URLs To Files (one per line):</label>
            <textarea id="urls" name="urls" rows="5" cols="25"></textarea>
            <br><br>
            
            <label for="s3_uris">S3 URIs (accessible to dewey):</label>
            <textarea id="s3_uris" name="s3_uris" rows="5" cols="28"></textarea>
            <br><br>
            </ul>
        </ul>

                </td><td> </td>
                <td>
                    <h3>Add Metadata</h3>
                    <ul>
                    <small>upload group key: <code>{{ upload_group_key }}</code></small>
                    <br>
<br>
            <label for="x_rcrf_patient_uid">RCRF Patient ID:</label>
            <input type="text" id="x_rcrf_patient_uid" name="x_rcrf_patient_uid"><br><br>
            <label for="x_study_id">Study ID:</label>
            <input type="text" id="x_study_id" name="x_study_id"><br><br>
            <label for="x_clinician_id">Clinician ID:</label>
            <input type="text" id="x_clinician_id" name="x_clinician_id"><br><br>
            <label for="x_health_event_id">Health Event:</label>
            <input type="text" id="x_health_event_id" name="x_health_event_id"><br><br>
            <label for="lab_code">Lab Code:</label>
            <input type="text" id="lab_code" name="lab_code"><br><br>
            <label for="x_relevant_datetime">Original File Creation Datetime:</label>
            <input type="datetime-local" id="x_relevant_datetime" name="x_relevant_datetime"><br><br>
            <label for="comments">Comments:</label>
            <textarea id="comments" name="comments"></textarea><br><br>
        </td></tr>
        <tr><td> </td>
            <td>
            <button type="submit">Create</button>
            </td><td> </td></tr></table>
                    </ul>
                </td></tr></table>
        </form>
    </div>
    <hr><hr>

    <button class="accordion" style="width: -webkit-fill-available;">Download File</button>
    <div class="accordion-content">
        <ul><ul>
        <form id="downloadFileForm" action="download_file" method="post" enctype="multipart/form-data">
            <label for="euid">File EUID: </label>
            <input type="text" id="euid" name="euid"><br><br>
            
            <label for="download_type">File Creation Mode:</label> 
            <select name="download_type">
                <option value="dewey" selected>dewey</option>
                <option value="hybrid">hybrid</option>
                <option value="orig">orig</option>
            </select>
            <ul>File(s) downloaded will be named as follows:
                <ul>
                <li>dewey: <code>{euid}.{original_file_suffix}</code></li>
                <li>hybrid:<code> {euid}.{original_file_name}</code></li>
                <li>orig:<code> {original_file_name}</code></li>
                <ul> ... <b> <small>not advised: !greater risk of over-writing similar named files! use <code>*.dewey.yaml</code> file to work with original file info.</small></b>
                </ul>
            </ul></ul>
            <br>
        
            <label for="create_metadata_file">Generate dewey.yaml:</label>
            <select name="create_metadata_file">
                <option selected value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <ul>Creates a companion <code>{downloaded_file}.dewey.yaml</code> file with key metadata assoc with the file.<ul>
                 (the exhaustive view of any object can be accessed via the<a href=euid_details?euid=GT1 target=neww>EUID Details View, ex: GT1</a>)
            </ul></ul>
            <br><br>
        
            <button type="submit">Download File</button>
        </form>
    </div>

    <hr><hr>
    <button class="accordion" style="width: -webkit-fill-available;">File Search (bulk d/l & create file sets)</button>
    <div class="accordion-content">
        <ul>
            <h3>Search Files</h3><ul>
            <table>
                <tr><td style="align:top;">
        <form id="searchFileForm" action="search_files" method="post" enctype="multipart/form-data">
            <input type="hidden" value="" id="euid" name="euid"><br>

            <label for="is_greedy">Greedy Search: </label>
            <select name="is_greedy">
                <option value="yes" selected>yes</option>
                <option value="no">no</option>
            </select>
            <br>
            <br>
            <label for="key">Specify search KEY and VALUE: </label>
            <ul>
            <small>
            CRUDE ATM. Manually set key and key value to search, up to 3 pairs (this is a limitation of my crude ui, not the db, which can use arbitrary numbers of search terms).
            </small></br>
            <br>
            <label for="key_1">Key 1: </label>
            <input type="text" id="key_1" name="key_1"><br>

            <label for="value_1">Value 1: </label>
            <input type="text" id="value_1" name="value_1"><br><br>

            <label for="key_2">Key 2: </label>
            <input type="text" id="key_2" name="key_2"><br>

            <label for="value_2">Value 2: </label>
            <input type="text" id="value_2" name="value_2"><br><br>

            <label for="key_3">Key 3: </label>
            <input type="text" id="key_3" name="key_3"><br>

            <label for="value_3">Value 3: </label>
            <input type="text" id="value_3" name="value_3"><br>
            <br>
        </ul>
        <button type="submit">Search Files</button>
        </form>

        </td><td> 
            <ul>
            Keys available in all File records.
                <pre>
            "lab_code":"",
            "original_file_name": "",
            "original_file_path": "",
            "original_file_size_bytes": "",
            "original_file_md5": "",
            "original_server_ip": "",
            "original_local_server_name": "",
            "original_file_suffix": "",
            "current_s3_key": "",
            "current_s3_bucket_name": "",
            "x_rcrf_patient_uid": "",
            "x_clinician_id": "",
            "x_relevant_datetime": "",
            "x_health_event_id": "",
            "x_study_id": "",
            "upload_group_key": ""
                </pre>
    </ul>
    </td>
    </tr></table>
    </ul></ul>
    </div>

    <hr><hr>

    <button class="accordion" style="width: -webkit-fill-available;">Create File Set</button>
    <div class="accordion-content">

        <ul>
        <h3>Create A File Set</h3>
        <ul>
        <form action="/create_file_set" method="post">
            <label for="file_set_name">File Set Name:</label>
            <input type="text" id="file_set_name" name="file_set_name" required><br><br>
    
            <label for="file_set_description">File Set Description:</label>
            <input type="text" id="file_set_description" name="file_set_description" required><br><br>
    
            <label for="file_set_tag">File Set Tag:</label>
            <input type="text" id="file_set_tag" name="file_set_tag" required><br><br>
    
            <label for="comments">Comments:</label>
            <input type="text" id="comments" name="comments"><br><br>
    
            <label for="file_euids">File EUIDs :</label>
            <textarea id="file_euids" name="file_euids" required></textarea>
            <br><br>
            <button type="submit">Create File Set</button>
        </form>
    </div>

    <hr><hr>

    <button class="accordion" style="width: -webkit-fill-available;">Search File Sets</button>
    <div class="accordion-content">
        <ul>
            <h3>Search File Sets By</h3>
            <form id="searchFileSetForm" action="search_file_sets" method="post" enctype="multipart/form-data">
                <label for="file_set_name">Name: </label>
                <input type="text" id="file_set_name" name="file_set_name" value=""><br><br>

                <label for="file_set_description">Description: </label>
                <input type="text" id="file_set_description" name="file_set_description" value=""><br><br>

                <label for="file_set_tag">Tag: </label>
                <input type="text" id="file_set_tag" name="file_set_tag" value=""><br><br>

                <label for="comments">Comments: </label>
                <input type="text" id="comments" name="comments" value=""><br><br>

                <label for="file_euids">File EUIDs (not working presentle): </label>
                <input type="text" id="file_euids" name="file_euids" value=""><br><br>

                <label for="is_greedy">Greedy Search: </label>
                <select name="is_greedy">
                    <option value="yes" selected>yes</option>
                    <option value="no">no</option>
                </select><br><br>

                <button type="submit">Search File Sets</button>
            </form>
        
    </div>

    <script>
        function resetForms() {
            document.getElementById('createFileForm').reset();
            document.getElementById('downloadFileForm').reset();
            document.getElementById('searchFileForm').reset();
            document.getElementById('searchFileSetForm').reset();
        }

        window.onload = resetForms;

        window.addEventListener('pageshow', function(event) {
            if (event.persisted || (window.performance && window.performance.navigation.type === 2)) {
                resetForms();
            }
        });
    </script>
    {% include 'pre_body_close.html' %}

</body>
</html>
