<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Error</title>
    <link rel="stylesheet" type="text/css" href="{{ style.skin_css }}">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Download Error</h1>
        <p>An error occurred while trying to download the file:</p>
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
        <a href="javascript:history.back()">Go Back</a>
    </div>
</body>
</html>
