<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Object Details</title>
        <link rel="stylesheet" type="text/css" href="{{ style.skin_css }}"  >
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="static/action_buttons.js"></script>
        <script>
    function highlightText() {
        var input = document.getElementById('searchInput').value;
        if (input) {
            var content2 = document.getElementById('content2');
            var innerHTML = content2.innerHTML;

            var regExp = new RegExp(input, "gi");
            var matches = [...innerHTML.matchAll(regExp)];

            for (let match of matches) {
                innerHTML = innerHTML.replace(match[0], "<span class='highlight'>" + match[0] + "</span>");
            }

            content2.innerHTML = innerHTML;
        }
    }
    var currentSortColumn = null;
    var sortAscending = true;

    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("auditLogTable");
        switching = true;

        if (columnIndex === currentSortColumn) {
            sortAscending = !sortAscending; // Toggle the sorting direction
        } else {
            currentSortColumn = columnIndex;
            sortAscending = true; // Default to ascending sort for a new column
        }

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[columnIndex];
                y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

                if (sortAscending) {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
        
        
    
        </script>
    </head>
    <body id="content2">
        <small><a href=dindex?globalStartNodeEUID={{ object.euid }}>( graph )</a></small> <small><a href= />( B )</a></small>
        {% macro render_json_value(value, key) %}
            {% if value is mapping %}
                <div class="nested-json">
                    {% for sub_key, sub_value in value.items() %}
                        <p>
                            <span class="json-key">{{ sub_key }}:</span> {{ render_json_value(sub_value, sub_key) }}
                        </p>
                    {% endfor %}
                </div>
            {% elif value is iterable and value is not string %}
                <ul>
                    {% for item in value %}<li>{{ render_json_value(item, key) }}</li>{% endfor %}
                </ul>
            {% elif '_euid' in key %}
                <a class="reference-link" href=euid_details?euid={{ value }}>{{ value }}</a>
            {% else %}
                {{ value }}
            {% endif %}
        {% endmacro %}
        {% if  object.btype  == 'plate' %}
            <h1>
                Object Details : {{ object.euid }} : : <a href=/plate_visualization?plate_euid={{ object.euid }}>plate view</a>
            </h1>
        {% elif  object.super_type  == 'workflow' %}
            <h1>
                Object Details : {{ object.euid }} : : <a href=workflow_details?workflow_euid={{ object.euid }}>workflow view</a>
            </h1>
        {% else %}
            <h1>Object Details : {{ object.euid }}</h1>
        {% endif %}
        {% if object %}
            <table width=100%>
                <tr width=100%>
                    <td width=50%>.</td>
                    <td width=50% align=right>
                        <input type="text" id="searchInput" placeholder="Search text...">
                        <button onclick="highlightText()">Search</button>
                    </td>
                </tr>
            </table>
            <table>
                <!-- ... Static fields table ... -->
                <table>
                    <tr>
                        <td>EUID</td>
                        <td>
                            <a class="reference-link" href="euid_details?euid={{ object.euid }}">{{ object.euid }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>UUID</td>
                        <td>
                            <a class="reference-link" href="uuid_details?uuid={{ object.uuid }}">{{ object.uuid }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>DB Name<ul>Given Name<br>Lab Code</ul></td>
                        <td>
                            {{ object.name }}<ul>
                            {{ object.json_addl['properties']['name'] }}<br>
                            {{ object.json_addl['properties']['lab_code'] }}</ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Polymorphic Discriminator</td>
                        <td>{{ object.polymorphic_discriminator }}</td>
                    </tr>
                    <tr>
                        <td>Super Type</td>
                        <td>{{ object.super_type }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ object.btype }}</td>
                    </tr>
                    <tr>
                        <td>Sub Type</td>
                        <td>{{ object.b_sub_type }}</td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>{{ object.version }}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{ object.bstatus }}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{ object.bstate }}</td>
                    </tr>
                    <tr>
                        <td>Created Date</td>
                        <td>{{ object.created_dt }}</td>
                    </tr>
                    <tr>
                        <td>Is Deleted?</td>
                        <td>{{ object.is_deleted }}</td>
                    </tr>
                    <tr>
                        <td>Template EUID</td>
                        <td><a href=euid_details?euid={{ object.parent_template_euid }} >{{ object.parent_template_euid }}</a></td>
                    </tr>
                    <!-- Add other fields as necessary -->
                </table>
            </table>
            <hr>
            <!-- Collapsible Buttons Container -->
            <div class="collapsible-buttons">
                <button type="button" class="collapsiblex" data-target="relationshipsContent">Relationships</button>
                <button type="button" class="collapsiblex" data-target="dynamicFieldsContent">Dynamic Fields</button>
                <button type="button" class="collapsiblex" data-target="actionGroupsContent">Action Groups</button>
                <button type="button" class="collapsiblex" data-target="auditLogContent">Audit Log</button>
                <button type="button"
                        class="collapsiblex"
                        style="background-color:lightgray"
                        data-target="jsonAddlContent">Edit json_addl (admin)</button>
            </div>
            <hr>
            <div id="relationshipsContent" class="content" style="display:none;">
                <h2>Relationships</h2>
                <!-- Child of Lineages Table -->
                <h3>Child Of Lineages</h3>
                <table class="searchable">
                    <tr>
                        <th>Lineage EUID</th>
                        <th>Parent Instance EUID</th>
                        <th>Parent Type</th>
                        <th>Parent Sub Type</th>
                        <th>Parent Version</th>
                        <th>Child Instance EUID</th>
                        <th>Child Type</th>
                        <th>Child Sub Type</th>
                        <th>Child Version</th>
                    </tr>
                    {% for lineage in oobj.child_of_lineages %}
                        <tr>
                            <td>
                                <a href="euid_details?euid={{ lineage.euid }}">{{ lineage.euid }}</a>
                            </td>
                            <td>
                                <a href="euid_details?euid={{ lineage.parent_instance.euid }}">{{ lineage.parent_instance.euid }}</a>
                            </td>
                            <td>{{ lineage.parent_instance.btype }}</td>
                            <td>{{ lineage.parent_instance.b_sub_type }}</td>
                            <td>{{ lineage.parent_instance.version }}</td>
                            <td>
                                <a href="euid_details?euid={{ lineage.child_instance.euid }}">{{ lineage.child_instance.euid }}</a>
                            </td>
                            <td>{{ lineage.child_instance.btype }}</td>
                            <td>{{ lineage.child_instance.b_sub_type }}</td>
                            <td>{{ lineage.child_instance.version }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <!-- Parent of Lineages Table -->
                <h3>Parent Of Lineages</h3>
                <table class="searchable">
                    <tr>
                        <th>Lineage EUID</th>
                        <th>Parent Instance EUID</th>
                        <th>Parent Type</th>
                        <th>Parent Sub Type</th>
                        <th>Parent Version</th>
                        <th>Child Instance EUID</th>
                        <th>Child Type</th>
                        <th>Child Sub Type</th>
                        <th>Child Version</th>
                    </tr>
                    {% for lineage in oobj.parent_of_lineages %}
                        <tr>
                            <td>
                                <a href="euid_details?euid={{ lineage.euid }}">{{ lineage.euid }}</a>
                            </td>
                            <td>
                                <a href="euid_details?euid={{ lineage.parent_instance.euid }}">{{ lineage.parent_instance.euid }}</a>
                            </td>
                            <td>{{ lineage.parent_instance.btype }}</td>
                            <td>{{ lineage.parent_instance.b_sub_type }}</td>
                            <td>{{ lineage.parent_instance.version }}</td>
                            <td>
                                <a href="euid_details?euid={{ lineage.child_instance.euid }}">{{ lineage.child_instance.euid }}</a>
                            </td>
                            <td>{{ lineage.child_instance.btype }}</td>
                            <td>{{ lineage.child_instance.b_sub_type }}</td>
                            <td>{{ lineage.child_instance.version }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div id="dynamicFieldsContent" class="content" style="display:none;">
        <div class="dynamic-fields">
            <!-- ... Dynamic Fields content ... -->
            <h2>Dynamic Fields</h2>
            <div class="dynamic-fields">
                <table>
                    {% for key, value in object|dictsort %}
                        {% if key not in static_fields and not key.endswith('_uuid') %}
                            <tr>
                                <td>{{ key|capitalize }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% elif key.endswith('_uuid') %}
                            <tr>
                                <td>{{ key|capitalize }}</td>
                                <td>
                                    <a class="reference-link" href="uuid_details?uuid={{ value }}">{{ value }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- Action Groups Section -->
    <div id="actionGroupsContent" class="content" style="display:none;">
        {% if object.json_addl and 'action_groups' in object.json_addl %}
            <div class="action-group-group">
                {% for group_key, group_value in object.json_addl['action_groups'].items() %}
                    <div class="action-group">
                        {{ group_value.group_name }}
                        {% for action_key, action_value in group_value.actions.items() %}
                            <button class="action_button"
                                    onclick="showCapturedDataForm(this, {{ action_value }}, '{{ object.euid }}', '{{ action_key }}', '{{ group_key }}')"
                                    {% if action_value.action_enabled == "0" %}disabled style="color: gray;"{% endif %}>
                                {{ action_value.action_name }}
                            </button>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div id="auditLogContent" class="content" style="display:none;">
        <div class="audit-log-fields">
            <!-- Add Audit Log Section -->
            <h2>Audit Log</h2>
            <div class="audit-log">
                {% if audit_logs %}
                    <table id="auditLogTable">
                        <thead>
                            <tr>
                                <th onclick="sortTable(0)">Column Name</th>
                                <th onclick="sortTable(1)">Old Value</th>
                                <th onclick="sortTable(2)">New Value</th>
                                <th onclick="sortTable(3)">Changed By</th>
                                <th onclick="sortTable(4)">Changed At</th>
                                <th onclick="sortTable(5)">Operation Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in audit_logs %}
                                <tr>
                                    <td>{{ log.column_name }}</td>
                                    {% if log.column_name == 'json_addl' %}
                                        <td>
                                            <button id="jsonToggleButton-{{ loop.index }}"
                                                    onclick="toggleJSONDisplay({{ loop.index }})">Show JSON</button>
                                            <div id="jsonOldContent-{{ loop.index }}" style="display:none;">{{ log.old_value }}</div>
                                        </td>
                                        <td>
                                            <div id="jsonNewContent-{{ loop.index }}" style="display:none;">{{ log.new_value }}</div>
                                        </td>
                                    {% else %}
                                        <td>{{ log.old_value }}</td>
                                        <td>{{ log.new_value }}</td>
                                    {% endif %}
                                    <td>{{ log.changed_by }}</td>
                                    <td>{{ log.changed_at }}</td>
                                    <td>{{ log.operation_type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No audit log entries found.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Json Addl Editing Form -->
    <div id="jsonAddlContent" class="content" style="display:none;">
        <form id="prop-{{ object.euid }}"
              style="padding: 0px"
              method="post"
              action="/update_obj_json_addl_properties"
              class="form-container">
            <input type="hidden" name="obj_euid" value="{{ object.euid }}">
            {% for key, value in object.json_addl['properties'].items() %}
                <div>
                    <label for="{{ object.euid }}">{{ key }}:</label>
                    {% if value is string %}
                        <input type="text"
                               id="{{ object.euid }}"
                               name="{{ key }}"
                               value="{{ value }}">
                    {% elif value is iterable %}
                        <div id="list-{{ object.euid }}-{{ key }}">
                            {% for item in value %}
                                <input id="{{ object.euid }}"
                                       type="text"
                                       name="{{ key }}[]"
                                       value="{{ item }}">
                            {% endfor %}
                        </div>
                        <button class="form-button"
                                type="button"
                                onclick="addListItem('{{ object.euid }}', '{{ key }}')">Add</button>
                        <button class="form-button"
                                type="button"
                                onclick="removeListItem('{{ object.euid }}', '{{ key }}')">Remove</button>
                    {% else %}
                        <input type="text"
                               id="{{ object.euid }}"
                               name="{{ key }}"
                               value="{{ value }}">
                    {% endif %}
                </div>
            {% endfor %}
            <div>
                <input type="submit" value="Save Changes" class="form-button">
            </div>
        </form>
    </div>
{% else %}
    <p>No object found for the provided EUID.</p>
{% endif %}
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    document.querySelectorAll('.collapsiblex').forEach(button => {
        button.addEventListener('click', function() {
            var contentId = this.getAttribute('data-target');
            var contentDiv = document.getElementById(contentId);
            
            if (contentDiv.style.display === "block") {
                contentDiv.style.display = "none";
            } else {
                contentDiv.style.display = "block";
            }
        });
    });


$(document).ready(function() {
    populateSelectList();
});

function populateSelectList() {
    $.ajax({
        url: 'get_print_labs', // Replace with your AJAX endpoint
        method: 'GET',
        dataType: 'json',
        success: function(data) {
            var select = $('#mySelect');
            select.empty(); // Clear the existing options
            data.forEach(function(item) {
                select.append($('<option>', { 
                    value: item.value,
                    text : item.text 
                }));
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log('Error: ' + textStatus + ' - ' + errorThrown);
        }
    });
}

    
</script>
<br>
<br>
<br>
<br>
<br>
<small><a href=delete_by_euid?euid={{ object.euid }}>SOFTdelete object</a> - -- or -- - <a href=un_delete_by_uuid?uuid={{ object.uuid }}&euid={{ object.euid }}>unSOFTdelete object</a></small>
</body>
</html>
