<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Instance From Template</title>
    <link rel="stylesheet" type="text/css" href="../{{ style.skin_css }}">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% include 'bloom_header.html' %}
    <h1>Create New Instance From Template {{ template_euid }}</h1>
    <h2 style="padding-left: 25px;">{{ name }}</h2>
    <hr style="padding-left: 25px;">
    <form method="post" action="/create_instance">
        <input type="hidden" name="template_euid" value="{{ template_euid }}" />
        {% for field in fields %}
            <div>
                <label for="{{ field.name }}">{{ field.label }}</label>
                {% if field.type == "select" %}
                    <select name="{{ field.name }}" id="{{ field.name }}">
                        {% for option in field.options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="{{ field.type }}" name="{{ field.name }}" />
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <button type="submit">CREATE INSTANCE</button>
    </form>

    <script>
        const controlledProperties = {{ controlled_properties | tojson | safe }};
        
        $('#variable').change(function() {
            const selectedVariable = $(this).val();
            const subVariableOptions = controlledProperties.sub_variable.enum[selectedVariable] || [];
            const subVariableSelect = $('#sub_variable');

            subVariableSelect.empty();
            subVariableOptions.forEach(function(option) {
                subVariableSelect.append(new Option(option, option));
            });
        });

        $('#category').change(function() {
            const selectedCategory = $(this).val();
            const subCategoryOptions = controlledProperties.sub_category.enum[selectedCategory] || [];
            const subCategorySelect = $('#sub_category');

            subCategorySelect.empty();
            subCategoryOptions.forEach(function(option) {
                subCategorySelect.append(new Option(option, option));
            });
        });

        $('#sub_category').change(function() {
            const selectedSubCategory = $(this).val();
            const subCategory2Options = controlledProperties.sub_category_2.enum[selectedSubCategory] || [];
            const subCategory2Select = $('#sub_category_2');

            subCategory2Select.empty();
            subCategory2Options.forEach(function(option) {
                subCategory2Select.append(new Option(option, option));
            });
        });
    </script>
</body>
</html>
