<!-- login.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Bloom LIMS Login</title>
        <link rel="stylesheet" type="text/css" href="{{ style.skin_css }}"  >
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
<form method="post" action="/login">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="password">
    <input type="submit" value="Login">
</form>

</body></html>