<div class="accordion-content">
    <ul>
        <form id="createFileForm" action="create_file" method="post" enctype="multipart/form-data">
            <input type="hidden" name="upload_group_key" value="{{ upload_group_key }}">
            <table>
                <tr>
                    <td>
                        <input type="hidden" value="na" id="name" name="name">

                        <h3>Specify Files</h3>
                        <hr>
                        <ul>
                            <label for="file_data">A Local File:</label>
                            <input type="file" id="file_data" name="file_data">
                            <br><br>

                            <label for="directory">A Directory Of Files <br>(NOT RECURSIVE, max 1k files):</label>
                            <input type="file" id="directory" name="directory" webkitdirectory directory multiple>
                            <br><br>

                            <label for="urls">Public URLs To Files (one per line):</label>
                            <textarea id="urls" name="urls" rows="5" cols="25"></textarea>
                            <br><br>

                            <label for="s3_uris">S3 URIs (accessible to dewey):</label>
                            <textarea id="s3_uris" name="s3_uris" rows="5" cols="28"></textarea>
                            <br><br>
                        </ul>
                    </td>
                    <td>
                        <h3>Add Metadata</h3>
                        <ul>
                            <small>upload group key: <code>{{ upload_group_key }}</code></small>
                            <br><br>

                            {% for field in ui_fields %}
                                <div>
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {% if field.type == "select" %}
                                        <select name="{{ field.name }}" id="{{ field.name }}">
                                            {% for option in field.options %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        {% if field.name.endswith('_datetime') %}
                                            <input type="datetime-local" name="{{ field.name }}" id="{{ field.name }}" />
                                        {% else %}
                                            <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Create</button>
                    </td>
                </tr>
            </table>
        </form>
    </ul>
</div>

<script>
    const controlledProperties = {{ controlled_properties | tojson | safe }};

    function updateDependentFields() {
        $('#variable').change(function() {
            const selectedVariable = $(this).val();
            const subVariableOptions = controlledProperties.sub_variable.enum[selectedVariable] || [];
            const subVariableSelect = $('#sub_variable');

            subVariableSelect.empty();
            subVariableOptions.forEach(function(option) {
                subVariableSelect.append(new Option(option, option));
            });
        });

        $('#category').change(function() {
            const selectedCategory = $(this).val();
            const subCategoryOptions = controlledProperties.sub_category.enum[selectedCategory] || [];
            const subCategorySelect = $('#sub_category');

            subCategorySelect.empty();
            subCategoryOptions.forEach(function(option) {
                subCategorySelect.append(new Option(option, option));
            });
        });

        $('#sub_category').change(function() {
            const selectedSubCategory = $(this).val();
            const subCategory2Options = controlledProperties.sub_category_2.enum[selectedSubCategory] || [];
            const subCategory2Select = $('#sub_category_2');

            subCategory2Select.empty();
            subCategory2Options.forEach(function(option) {
                subCategory2Select.append(new Option(option, option));
            });
        });
    }

    $(document).ready(function() {
        updateDependentFields();
    });
</script>
