<div class="accordion-content">
    <ul>
        <form id="createFileForm" action="create_file" method="post" enctype="multipart/form-data">
            <input type="hidden" name="upload_group_key" value="{{ upload_group_key }}">
            <table>
                <tr>
                    <td>
                        <input type="hidden" value="na" id="name" name="name">

                        <h3>Specify Files</h3>
                        <hr>
                        <ul>
                            <label for="file_data">A Local File:</label>
                            <input type="file" id="file_data" name="file_data">
                            <br><br>

                            <label for="directory">A Directory Of Files <br>(NOT RECURSIVE, max 1k files):</label>
                            <input type="file" id="directory" name="directory" webkitdirectory directory multiple>
                            <br><br>

                            <label for="urls">Public URLs To Files (one per line):</label>
                            <textarea id="urls" name="urls" rows="5" cols="25"></textarea>
                            <br><br>

                            <label for="s3_uris">S3 URIs (accessible to dewey):</label>
                            <textarea id="s3_uris" name="s3_uris" rows="5" cols="28"></textarea>
                            <br><br>
                        </ul>
                    </td>
                    <td>
                        <h3>Add Metadata</h3>
                        <ul>
                            <small>upload group key: <code>{{ upload_group_key }}</code></small>
                            <br><br>
                            <label class="switch" style="display: none;">
                                <input type="checkbox" id="toggleSwitch" checked style="display: none;">
                                <span class="slider round"></span>
                            </label>
                            <label style="display: none;" for="toggleSwitch">Toggle UI Form Properties</label>
                            <br><br>

                            <div id="defaultFields" style="display: none;">
                                {% for field in fields %}
                                    <div>
                                        <label for="default_{{ field.name }}">{{ field.label }}</label>
                                        {% if field.type == "select" %}
                                            <select name="default_{{ field.name }}" id="default_{{ field.name }}">
                                                {% for option in field.options %}
                                                    <option value="{{ option }}">{{ option }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <input type="{{ field.type }}" name="default_{{ field.name }}" id="default_{{ field.name }}" />
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            <div id="uiFields">
                                {% for field in ui_fields %}
                                    <div>
                                        <label for="{{ field.name }}">{{ field.label }}</label>
                                        {% if field.type == "select" %}
                                            <select name="{{ field.name }}" id="{{ field.name }}">
                                                {% for option in field.options %}
                                                    <option value="{{ option }}">{{ option }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}" />
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Create</button>
                    </td>
                </tr>
            </table>
        </form>
    </ul>
</div>

<script>
    const controlledProperties = {{ controlled_properties | tojson | safe }};

    function updateDependentFields(prefix) {
        $('#' + prefix + 'variable').change(function() {
            const selectedVariable = $(this).val();
            const subVariableOptions = controlledProperties.sub_variable.enum[selectedVariable] || [];
            const subVariableSelect = $('#' + prefix + 'sub_variable');

            subVariableSelect.empty();
            subVariableOptions.forEach(function(option) {
                subVariableSelect.append(new Option(option, option));
            });
        });

        $('#' + prefix + 'category').change(function() {
            const selectedCategory = $(this).val();
            const subCategoryOptions = controlledProperties.sub_category.enum[selectedCategory] || [];
            const subCategorySelect = $('#' + prefix + 'sub_category');

            subCategorySelect.empty();
            subCategoryOptions.forEach(function(option) {
                subCategorySelect.append(new Option(option, option));
            });
        });

        $('#' + prefix + 'sub_category').change(function() {
            const selectedSubCategory = $(this).val();
            const subCategory2Options = controlledProperties.sub_category_2.enum[selectedSubCategory] || [];
            const subCategory2Select = $('#' + prefix + 'sub_category_2');

            subCategory2Select.empty();
            subCategory2Options.forEach(function(option) {
                subCategory2Select.append(new Option(option, option));
            });
        });
    }

    $(document).ready(function() {
        updateDependentFields('');
        updateDependentFields('default_');

        $('#toggleSwitch').change(function() {
            if ($(this).is(':checked')) {
                $('#defaultFields').hide();
                $('#uiFields').show();
                updateDependentFields('');  // Ensure dependent fields are updated after toggling
            } else {
                $('#defaultFields').show();
                $('#uiFields').hide();
                updateDependentFields('default_');  // Ensure dependent fields are updated after toggling
            }
        }).trigger('change'); // Trigger change to set initial state
    });
</script>
